<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21540028356-5g7vksa5ae1dn3e71d4mesvpalpvafdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21540028356-5g7vksa5ae1dn3e71d4mesvpalpvafdf</string>
	<key>API_KEY</key>
	<string>AIzaSyBEjOly58Flu9fudSmTj47M7XVxq0GdcQE</string>
	<key>GCM_SENDER_ID</key>
	<string>21540028356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.venomverse</string>
	<key>PROJECT_ID</key>
	<string>venomverse-ba46f</string>
	<key>STORAGE_BUCKET</key>
	<string>venomverse-ba46f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21540028356:ios:10eca7d6e7ace5b8966e91</string>
</dict>
</plist>